<div id="content">
    <h1>О нас</h1>
    <p>Мы игровой клуб Пещера дракона адрес Большая Покровская ул., 14, Нижний Новгород. Мы занимаемся
        проведением настольных игр и продаём настольное игры. Также у нас имеется трактир и выставка искусств.
        Мы занимаемся преимущественно D&D подобными играми и проводим всякие мастер классы по рисованию картин.
        Так же иногда у нас проводят мастерклассы по покрасу моделей для настольных игр.</p>
    <p>Ещё вы можите снять у нас стол с уютным диваном, поиграть с друзьями в настольные игры и заказать пицу.
        У нас в коллекции более 200 настольных игр на любой вкус.</p>
    <h1>Другие адреса</h1>
    <p>Рабочая ул., 50, Саратов</p>
    <p>Тел. 87043199255</p>
    <p>ул. Фридриха Энгельса, 19, стр. 1, Москва</p>
    <p>Тел. 88047997245</p>
    <div style="position:relative;overflow:hidden;"><a
            href="https://yandex.ru/maps/org/bashnya_maga/190987349916/?utm_medium=mapframe&utm_source=maps"
            style="color:#eee;font-size:12px;position:absolute;top:0px;">Логово дракона</a><a
            href="https://yandex.ru/maps/47/nizhny-novgorod/category/board_games/184107267/?utm_medium=mapframe&utm_source=maps"
            style="color:#eee;font-size:12px;position:absolute;top:14px;">Настольные и интеллектуальные игры в
        Нижнем Новгороде</a><a
            href="https://yandex.ru/maps/47/nizhny-novgorod/category/gaming_club/184106332/?utm_medium=mapframe&utm_source=maps"
            style="color:#eee;font-size:12px;position:absolute;top:28px;">Игровой клуб в Нижнем Новгороде</a>
        <iframe src="https://yandex.ru/map-widget/v1/-/CCUVm2bcoD" width="560" height="400" frameborder="1"
                allowfullscreen="true" style="position:relative;"></iframe>
    </div>
</div>