<div id="content">
    <h1>Добро пожаловать в Логово дракона</h1>
    <h1>Легенда</h1>
    <p>Когда-то давным давно, в незапамятные времена, когда не было ещё электричества и интернета, жили на земле
        славные герои рыцари, которые в сияющих доспехах на конях совершали славные подвиги. Этих славных воинов
        манили слава, богатства, сокровища, спасение прекрасных женщин из лап чудовищ и тиранов. Этот древний
        мир пропитан опасностью, магией, интригами и обманом. В этом мире есть не только воины, но и барды,
        маги, эльфы и прочие создания. И вот однажды группа героев пошла искать пещеру, в которой живёт
        дракон...</p>
    <p>По легенде дракон проснулся и вступил в битву с отважными героями, которые пришли его убить! Но вместо
        того, чтобы бить его мечами, топорами, магией и луками, они взяли кубики, листки, ручки, карандаши.</p>
    <p>Так началась по легенде самая первая игровая партия в настольную ролевую игру D&D!</p>
    <p>Жена дракона (им похищенная принцесса) раздавала всем напитки и еду, а сам дракон весело играл и слушал
        с ними весёлую средневековую балладу барда, что увязался за героями. На месте этой пещеры был построен
        наш игровой клуб, так говорит легенда. Хотите верьте, а хотите - нет, но всё было именно так!</p>
    <h2>Схема этажей Логова Дракона</h2>
    <ul>
        <li>Этаж -1 - Игровые столы</li>
        <li>Этаж -2 - Выставка искусств</li>
        <li>Этаж -3 - Трактир</li>
    </ul>
    <p>PS. ДА продолжится легенда!</p>
</div>