{% extends "base.html" %}
{% block title %}
	Логово дракона
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block header %}
    {% include "inc-header.html" %}
    <div><a href="/create-category/">Создать категорию</a></div>
    <h1>Список категорий</h1>
    <ul>
        {% for item in data_list %}
        <li>
            {{item.name}} <span>Количество игр: {{item.game_count()}}</span> <a href="/create-game/?id={{item.id}}">
            Создать игру</a>
            <br><a href="/games-list/?id={{item.id}}">Список игр</a><br>
        </li>
        {% endfor %}
    </ul>
    <li><a href="/dungeon_master-list/">Список данжен мастеров</a></li>
    <li><a href="/create-dungeon_master/">Создать данжен мастера</a></li>
    <li><a href="/add-dungeon_master/">Добавить данжен мастера на игру</a></li>
    <li><a href="/gamer-list/">Список игроков</a></li>
    <li><a href="/create-gamer/">Создать игрока</a></li>
    <li><a href="/add-gamer/">Добавить игрока на игру</a></li>
{% endblock %}
{% block sidebar %}
    {% include "inc-sidebar.html" %}
{% endblock %}
{% block body %}
	{% include "inc-index-body.html" %}
{% endblock %}
{% block footer %}
    {% include "inc-footer.html" %}
{% endblock %}